.container {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  /* background-color: var(--cor-3-4); */
}

.barra {
  width: 80%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: auto;
  height: 40px;
}

.navegacao {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}


.listaMenu {
  display: flex;
  align-items: center;
  gap: 16px;
  list-style: none;
}


.item a {
  text-decoration: none;
  color: var(--cor-1);
  background-color: none;
  padding: 5px 15px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
}

.item a:hover {
  background-color: var(--cor-1);
  color: var(--cor-6);
}

.item {
  font-size: 20px;
  font-weight: 600;
  white-space: nowrap;
}

.redes {
  display: flex;
  align-items: center;
  gap: 16px;
}

.linkRede {
  width: 40px;
  height: 40px;
}

.rede {
  width: 32px;
  height: 32px;
}

.rede:hover {
  filter: brightness(0.8);
  scale: 1.2;
}