.footer {
  width: 100%;
  height: auto;
  margin-top: 36px;

}

.detalhe {
  width: 100%;
  height: 100px;
  background-image: url("../../assets/papelRasgadoClaro.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover, cover;
  margin-bottom: -20px;
  filter: drop-shadow(0 -10px 5px var(--cor-1-overlay));
  z-index: 1;
}

.container {
  width: 100%;
  min-height: 36px;
  height: auto;
  background-color: var(--cor-6);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 4;
  padding: 32px;
  gap: 16px;
}

.logo {
  width: 160px;
  height: auto;
}

.social {
  width: 35%;
  min-width: 320px;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  border-left: 3px solid var(--cor-1);
  padding: 32px;
}

.endereco {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.local {
  width: 32px;
  height: auto;
}

.enderecoEscritorio {
  width: 90%;
  color: var(--cor-1);
  font-size: 16px;
  margin-left: 16px;
}

.local:hover {
  cursor: pointer;
  scale: 0.9;
}

.rede {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.redeLogo {
  width: 32px;
  height: 32px;
}

.redeLogo:hover {
  cursor: pointer;
  scale: 0.9;
}

.redeTexto {
  font-size: 16px;
  font-weight: 400;
  color: var(--cor-1);
  font-style: italic;
}

.copy {
  width: 35%;
  min-width: 320px;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  border-left: 3px solid var(--cor-1);
  padding: 32px;
}

.copyTexto {
  width: 100%;
  color: var(--cor-1);
  font-size: 16px;
}

.donuts {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.donuts a {
  width: auto;
}

.donutsLogo {
  width: 48px;
  height: auto;
}

.donutsLogo:hover {
  cursor: pointer;
  scale: 1.2;
  rotate: 15deg;
  transition: all 0.3s ease-in-out;
}

.donutsTexto {
  width: 90%;
  color: var(--cor-1);
  font-size: 16px;
}