.modal {
  position: absolute;
  inset: 16px;
  overflow: auto;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  outline: none;
  padding: 20px;
  background-color: var(--cor-1);
}

.close {
  position: absolute;
  top: 24px;
  right: 24px;
  font-size: 16px;
  font-weight: 900;
  outline: none;
  border: none;
  color: var(--cor-1);
  padding: 8px 14px;
  border-radius: 50px;
  background-color: var(--cor-5);
  color: var(--cor-6);
  box-shadow: -2px 2px 6px 2px var(--cor-6);
  cursor: pointer;
}

.modalContainer {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  padding-top: 32px;
}

.close:hover {
  scale: 0.9;
  box-shadow: none;
  transition: all 0.2s ease-in-out;
}

.titulo {
  font-size: var(--titulo-2);
  font-weight: 700;
  color: var(--cor-6);
}

.conteudo {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;

}

.slideContainer {
  width: 320px;
  height: 320px;
}

.texto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  min-width: 300px;
  flex-basis: 50%;
}

.descricao {
  font-size: var(--texto-2);
  color: var(--cor-6);
  line-height: 1.5;
  margin-bottom: 20px;
}

.botoes {
  width: 100%;
  display: flex;
  gap: 16px;
  justify-content: space-around;
  margin-top: 16px;
}

.botao {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--cor-6);
  background-color: var(--cor-4);
  font-size: 16px;
  gap: 8px;
  padding: 8px 16px;
  border-bottom-left-radius: 24px;
  border-top-right-radius: 24px;
}


.iconBtn {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .conteudo {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-wrap: nowrap;
  }


  .texto {
    width: 320px;
  }

  .descricao {
    width: 300px;
  }

  .botoes {
    width: 100%;
    flex-wrap: wrap;
    gap: 8px;
  }


}